
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}
#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.lavozdelafrontera.com.mx/local/7lmlmf-cumple-100-anos-rectoria-de-uabc/ALTERNATES/LANDSCAPE_1140/Cumple%20100%20a%C3%B1os%20rector%C3%ADa%20de%20UABC');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.container {
    max-width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
    left:150px;
    top: 50px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
}

.button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00ff88;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3d7002;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #37c032;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #37c032;
    align-items: center;
    text-align: center;
}
#content {
    position: fixed;
    top: 100px;
    bottom: 100px;
    left: 0;
    right: 0;

}