{% extends 'template.html' %}
{% block content %}
<html lang="es">
<head>

    
</head>
<body style="margin: 0; padding: 0; background-image: url('https://www.lavozdelafrontera.com.mx/local/7lmlmf-cumple-100-anos-rectoria-de-uabc/ALTERNATES/LANDSCAPE_1140/Cumple%20100%20a%C3%B1os%20rector%C3%ADa%20de%20UABC'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;"></body>
    <div class="container">
        <h1>Donativos UABC</h1>
        <p>Texto a asignar.</p>
        <a href="#" class="button">Deseo donar</a>
    </div>
</body>

</html>
{% endblock %}