<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div id="background-image"></div>
    <div id="header"></div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <h6>Creado por miembros de la carrera de Ingenieria en Computación <a href="https://ingenieria.mxl.uabc.mx/pe_ico/index.php/documentacion-del-programa-educativo/mapa-curricular/plan-2020-1">2023</a> </h6>
    </div>
    <script src="bootstrap.js"></script>
</body>
</html>
